// COLORS
$mainColor: #5fb4a2;
$darkColor: #203a4c;
$grayishDark: #33323d;
$veryLight: #fafafa;
$light: #eaeaeb;
$brightRed: #f43030;
// NAV-COLOR
$navColor: #33323d;
$navHoverColor: #5fb4a2;
// TEXT-COLOR
$titleColor: #33323d;
$subtColor: #33323d;
// BTN-COLOR
$primaryBtnColor: #203a4c;
$primaryBtnHover: #5fb4a2;
// FOOTER-NAV-COLOR
$footerNavColor: white;
$footerNavHover: #33323d;

//FONT-FAMILY
$titleFamily: "Ibarra Real Nova", "Arial", sans-serif;
$subtFamily: "Public Sans", "Arial", sans-serif;

// FONT-SIZE
$h1Size: 5rem;
$h1Weight: 700;
$h1Letter: -0.45px;

$h2Size: 4rem;
$h2Weight: 700;
$h2Letter: -0.36px;

$h3Size: 3.2rem;
$h3Weight: 400;
$h3Letter: -0.29px;

$subtSize: 1.6rem;
$subtWeight: 400;
//NAV-SIZE
$navSize: 1.2rem;
$navWeight: 400;
$navLetter: 2px;

// FORM
