.nav {
	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 4.3rem;
	}
	&__link {
		font-size: $navSize;
		line-height: 1.16;
		font-weight: $navWeight;
		color: $navColor;
		&:hover {
			color: $navHoverColor;
		}
	}
	@include responsive(max-phone) {
		display: none;
	}
}
